body {

    font-family: 'Raleway', sans-serif;
    
    margin-top:0%;
    border:0;
    
    
   

}

/* Top */




#desktop{

    display:flex;
    border:0;
    margin-left: 10%;
    margin-right:10%;
    margin-top:0%;
    
}

.logo{

    border:0;
    margin-top: 0rem;
}

nav{


    width: 100%;
    margin-top: 0rem;
    border:0;
}


ul{

    list-style: none;
    display:flex;
    justify-content: flex-end;
    margin-top: 0;


}

li {
    font-size: 1rem;
    width:10%;
    text-align:center;
    padding-top:10px;
    
}

.liens{

    text-decoration: none;
    color:black;

}


.liens:hover{
    color:#0065FC;


}


.barrehaute:hover {

    border-top: 3px solid#0065FC;
    
    cursor: pointer;

 }


 .inscription {

    text-decoration: none;
    color:#0065FC;
    font-weight:bold;
    
 }


 #mobil {

    display: none;

 }



 

@media screen and (max-width:991px){


    #desktop{

       
        margin-left: 0%;
        margin-right:0%;
        margin-top:0%;
    }




    li {
        
        margin-right: 6rem;
        
    }



}

/* @media screen and (max-width:500px) and (min-width:768px) {


    




} */

 @media screen and (max-width:768px) {



    body{

        max-width: auto;
        
    }

    #desktop {
    
       display: none;
    
    }
    
    ul {


        display:none;

    }


    #mobil{

    display: block;
    border:0;
    margin-top:0%;
  



    }

   .headerpart1 {
    
        display:flex;
        justify-content:space-between;
        margin: 1rem;
    
    
    }


    
    .headerpart1 span {


        margin-top:1.1rem;
        font-weight: bold;

    }
    

    .headerpart2 {

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;

        grid-gap: 0px;
        text-align: center;
        
        padding: 0rem;
        margin-top: 0rem;
        
        
    }

       
  
    .liensmobil{

        text-decoration: none;
        color:black;
        
    
        
    }


    .liensmobil:hover{

        color:#0065FC;
        
    
        
    }

   
    
    #bottombar1{

        grid-column:1;
        grid-row: 1;
        border-bottom: 3px solid#F2F2F2; 

    }

    #bottombar2{

        grid-column:2;
        grid-row: 1;
        border-bottom: 3px solid#F2F2F2; 
       
    }



    #bottombar1:hover {
    
        border-bottom: 3px solid#0065FC;
        color:#0065FC;
        cursor: pointer;
    
     }

     #bottombar2:hover {
        
        display:inline-block;
        border-bottom: 3px solid#0065FC;
        color:#0065FC;
        cursor: pointer;
    
     }

     .liensmobil:hover{

        color:#0065FC;



     }
  
    }
    
    


/* Recherche */


.recherche{


    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5rem;
    margin-bottom:1.5rem;


}

.recherche h1{

    margin: 0;


 }


#place {

    
    margin-top:0.5rem;


}



.recherche span{

   display:block;
   margin-top: 0rem;
   margin-bottom:0rem;

}



.recherche i{

    background-color:#F2F2F2;
    padding: 0.99rem;
    border-radius: 10px 0 0 10px;
    margin-right: 0;



}



 #BarreRecherche {

    padding: 0.9rem;
    border-left:0px;
    border-top: 2px #F2F2F2;
    border-bottom: 2px #F2F2F2;
    border-right: 0px;
    margin-top:0rem;

    font-size: 1rem;
    margin-left: 0rem;





}

#Barrerecherche0 {

    
   display:flex;
    
    



}


.recherche button{

   display: inline; 
   background-color:#0065FC;
   color: white;
   left: 0;
   cursor: pointer;
   padding: 0.88rem;
   border-color: white;
   border:none;
   border-radius: 0 10px 10px 0;
   margin-left:0rem;
   font-size: 1rem;
   font-weight: bold;
   
   


}






.recherche button i{

    display:none;

}



.recherche button:focus{

    outline: none;

}



::placeholder {
    color:black;
    font-weight: bolder;
}


/*Ajustement Mobil et Tablette*/

@media screen and (max-width:991px) {



      .recherche{

        
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 1.5rem;
        margin-bottom:1.5rem;
       text-align: left;
       
        
    
    }




    .recherche h1{

        font-size:1.5rem;
       
    
     }


#Barrerecherche0 {

    
    width: 100%;
    
    



}


.recherche button{

    padding:0.88rem;

}

.recherche button span{

    display: none;

}


.recherche input {

    width:65%;



}



.recherche button i{

    display:block;
    color: white;
    font-size:1.3rem;
    background-color:#0065FC;
    padding: 0rem;
    margin: 0rem;

}





}

@media screen and (max-width:360px){

    .recherche input {

        width:60%;
    
    
    
    }


}




 /* Filtre */


 .filtre {

    
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    width:80%;
    padding: 0rem;

    margin-left: 10%;
    margin-right:10%;
    align-items:center;
    text-align:center;
    margin-bottom: 1.5rem;
    
    font-weight:bold;



 }

#titrefiltre {
    
    font-size:1.4rem;
    font-weight: bold;

}


.btn1 {

    display:flex;
    text-align:center;
    align-items:center;
    margin-left: 2rem;

}


.iconefiltre {

    display: flex;
  align-items: center;
  

}


 .btn1 i {


    
    position: relative;
    width:1rem;
    height: 1rem;
    padding:1rem;
    border-radius:50%; 
    background: #DEEBFF;
    color: #0065FC;
    z-index: 3;
    
 }
 



 .btn1 span {

    background-color: white;
    cursor: pointer;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 3rem;
    padding-right:1rem;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1rem;
    margin:-2rem;

}


.btn2 {

    display:flex;
    text-align:center;
    align-items:center;
    margin-left: 4rem;

}

.btn2 i {


   
    position: relative;
    width:1rem;
    height: 1rem;
    padding:1rem;
    border-radius: 50%;
    background: #DEEBFF;
    color: #0065FC;
    z-index: 3;
    

 }



 .btn2 span {


    background-color: white;
    cursor: pointer;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 3.5rem;
    padding-right:1rem;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1rem;
    margin-left: -2rem;
}

.btn3 {

    display:flex;
    text-align:center;
    align-items:center;
    margin-left: 2rem;
    

}


.btn3 i {


    
    position: relative;
    width:1rem;
    height: 1rem;
    padding:1rem;
    border-radius: 50%;
    background: #DEEBFF;
    color: #0065FC;
    z-index: 3;
   

 }



 .btn3 span {


    background-color: white;
    cursor: pointer;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 4rem;
    padding-right:1rem;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1rem;
    margin-left: -2rem;

}


.btn4 {

    display:flex;
    text-align:center;
    align-items:center;
    margin-left: 2rem;

}


.btn4 i {


    display: inline;
    position: relative;
    width:1rem;
    height: 1rem;
    padding:1rem;
    border-radius: 50%;
    background: #DEEBFF;
    color: #0065FC;
    z-index: 3;
    

 }



 .btn4 span{


    background-color: white;
    cursor: pointer;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 4rem;
    padding-right:1rem;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1rem;
    margin-left: -2rem;
    
    
}

.filtre span:hover {


    
    
    color: black;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    background-color:rgb(222, 235, 255,0.3);
;
}




.btn1 a, .btn2 a, .btn3 a, .btn4 a {

    text-decoration:none;
    color: black;
}




@media screen and (max-width:991px) {

    .filtre {
        
        text-align:left;
        flex-direction: row;
        justify-content:flex-start;
        flex-wrap: wrap;
        width:100%;
        margin-left: 0px;
        margin-right:0px;
        margin-bottom: 1.5rem;
        
 }






    .filtre div {

        
        padding: 0rem;
        
        
    }



}




@media screen and (max-width:768px) {

    .filtre {
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
     



    }

    #titrefiltre {

        grid-column: 1/2;
        grid-row: 1/2;
        margin:0;
        padding: 0rem;
        font-size:1.4rem;
        font-weight: bold;
    
    }
    



 .btn1,.btn2, .btn3, .btn4 {

      margin-left: 0rem;          
      margin-top: 1rem;  


 }

.btn1{

    grid-column: 1/2;
    grid-row: 2/3;


}

.btn2{

    grid-column: 2/3;
    grid-row: 2/3;


}




.btn3{

    grid-column: 1/2;
    grid-row: 3/4;
    

}

.btn4 {


    grid-column:1/2;
    grid-row:4/5;
    

}

.btn4 span {

    padding-top: 0.2rem;
    padding-bottom:0.2rem;
    



}



}

@media screen and (max-width:360px) {

    .filtre {
        display:block;
       
       
  
  
  
      }




}


/* infos */


 #infos{

    display: flex;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 1rem;;
    

 }



#iconinfos {

    align-items:center;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid#F2F2F2;  
    text-align: center;
    line-height: 30px;

    

}


#infos i{

    color:#0065FC;
        
  }



#infos span{

margin-top: 0.5rem;
margin-left: 1rem;


}


/* Ajustement Mobil et Tablette */


@media screen and (max-width:991px){

    #infos{

       
        margin-left: 0px;
        margin-right:0px;
        
    
    
     }
    



}




/* Hebergements à Marseille*/


 #hebergements {
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 3.2rem;
    


 }


#encadre{

    width:65%;
    background-color:#F2F2F2;
    
    border-radius:20px;
    margin:0rem;
    



}


#encadre h2 { 

    margin-left: 1rem;
    font-size:1.4rem;
   
}

#titrehebergementdispo{

    margin-top:0.5rem;
    margin-left: 0rem;
    font-size: 1.2rem;
    



}



#hebergements2 {


    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    margin-bottom:2rem;
    




 }

  .hebergements3 {
    background-color:white;
    text-decoration: none;
    border-radius: 20px;
    margin: 0.7rem;
    box-shadow: 0 0 16px rgb(194, 188, 188);
    


 }

.hebergements3:hover{

    transform: scale(1.02,1.02);



 }



.hebergements3 a {

    text-decoration: none;
    color: black;


 }

 .ResultatHebergement {

    display:flex;
    flex-direction: column;
    margin:0.5rem;
    border-radius: 20px;


 }




 .ResultatHebergement :nth-child(2){


        font-weight: bold;


 }

.ResultatHebergement img{

    width:17rem;
    height:7rem;
   
    border-radius:10px 10px 0 0;
    object-fit: cover;


}

#hebergements {

    display: flex;



}

#hebergements a {

    text-decoration: none;
    color: black;

}

.price {

    font-weight: bold;


}


.star .fas{

   color: #0065FC;



}

#afficherplus {

      
    margin-left: 2rem; 
    font-size:1.1rem;
    font-weight: bold;
   

    }



/* Les plus populaires */


#populairetitre{

    display: flex;
    text-align: center;
    align-items: center;
    

}


#populairetitre i{

    font-size: 1.4rem;
    margin-left: 7.5rem;
    margin-top: 1.5rem;
   
}



#encadre2{

    width:30%;
    background-color:#F2F2F2;
    padding: 0rem;
    border-radius:20px;
    margin-left:4rem;
    margin-top: 0;
    
    

}


#encadre2 h2 {

    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
    font-size:1.4rem;
}


#encadre2 .hebergements3 img {

    width:8rem;
    height:8rem;
    border-radius:10px 0 0 10px;;
    object-fit: cover;
    padding:0;
    margin:0.5rem;

}

#encadre2 .hebergements3 {

    margin:1.5rem;
    padding: 0;
    box-shadow: 0 0 16px rgb(194, 188, 188);
    

}

.ResultatHebergementPop{

    display:flex;


}



.ResultatHebergementPop :nth-child(1) {

    font-weight: bold;

}

.ResultatHebergementPop :nth-child(2) {

    margin-top:0.5rem;
   

}

.star2 .fas,.star3 .fas,.star4 .fas{

    color: #0065FC;
 
 
 
 }

.star2{

padding-top:3rem;
 
}

.star3{

    padding-top:2rem;
     
    }
    
.star4{

        padding-top:3rem;
         
        }
        

@media screen and (max-width:1440px) {


    
#populairetitre i{

    font-size: 1.4rem;
    margin-left: 3.5rem;
    margin-top: 1.5rem;
   
}


}



@media screen and (max-width:991px) {

    #hebergements {

        display:flex;
        flex-direction:column-reverse;
        margin-left: 0%;
        margin-right:0%;
        
    
    
    
    }


    #encadre2{

        width:100%;
        background-color:#F2F2F2;
        padding: 0rem;
        border-radius:0px;
        margin-left:0rem;
       
        margin-top: 0;
      }
    
      #encadre{
    
        width:100%;
        background-color:white;
        
        border-radius:20px;
        margin:0;
        
    
    }

    #populairetitre i{


        font-size: 1.4rem;
        margin-left: 37rem;
        margin-top: 1.5rem;
    }




}

@media screen and (max-width:768px) {


#hebergements {

    display:flex;
    flex-direction:column-reverse;
    margin-left: 0%;
    margin-right:0%;
    



}

#titrehebergementdispo{

    margin-top:0.5rem;
    
    font-size: 1.2rem;
    



}




 #encadre2{

    width:100%;
    background-color:#F2F2F2;
    padding: 0rem;
    border-radius:0px;
    margin-left:0rem;
   
    margin-top: 0;
  }

  #encadre{

    width:100%;
    background-color:white;
    
    border-radius:20px;
    margin:0;
    align-items: left;

}

#afficherplus {

    margin-left: 0.8rem;    
    margin-top: 0rem;
    padding-top: 0rem;
    font-size: 1.2rem;
    
    
    }





#populairetitre h1 {

    
    text-align: left;
    margin-left: 0rem;
    padding-left:0rem;
  
}


#populairetitre i{


    font-size: 1.4rem;
    margin-left: 5rem;
    margin-top: 1.5rem;
}

 #encadre .hebergements3 {

    background-color:white;
    text-decoration: none;
    border-radius: 20px;
    
    box-shadow: 0 0 16px rgb(194, 188, 188);
    width: 100%;



 }

 .ResultatHebergement img{

    width:17rem;
    height:7rem;
   width:100%;
    border-radius:10px 10px 0 0;
    object-fit: cover;


}

#encadre2 .hebergements3 {

    margin:1.5rem;
    padding: 0;
    box-shadow: 0 0 16px rgb(194, 188, 188);
   

}

#encadre2 .hebergements3 img {

    width:8rem;
    height:8rem;
    border-radius:10px 0 0 10px;;
    object-fit: cover;
    padding:0;
    margin:0.5rem;
    

}

.star2{

    padding-top:2rem;
     
    }
    
    .star3{
    
        padding-top:2rem;
         
        }
        
    .star4{
    
            padding-top:2rem;
             
            }






}





/* Activités à Marseille */

h2 {

    margin-left: 10%;
    margin-right:10%;



}

#activités{

    margin-left: 10%;
    margin-right:10%;
    width:80%;


    border-radius:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   
    justify-content: space-between;
    
    
    





}

#activités span {

    font-weight: bold;
    
    margin-left: 1rem;
    
}

#activités a {

    text-decoration: none;
    color: black;

}


#photo1:hover, #photo2:hover, #photo3:hover, #photo4:hover, #photo5:hover, #photo6:hover{

    transform: scale(1.01,1.01);


}


#photo1 {


   grid-column: 1/3;
   grid-row: 1/8;
   border-radius:20px;
   background-color:white;
   box-shadow: 0 0 16px rgb(194, 188, 188);
   margin-right:0rem;
   margin-bottom: 0rem;
   padding-bottom: 0rem;
   width: 90%;
   height:30rem;
   
   
   
}


#photo1 img {

    width: 100%;
    height:27rem;
    border-radius:10px 10px 0 0;
    object-fit:cover;
    margin-bottom: 0.5rem;


}






#photo2   {

    grid-column: 3/5;
    grid-row: 1/5;
    background-color:white;
    box-shadow: 0 0 16px rgb(211, 209, 209);
    
    border-radius:10px;
    width: 90%;
    height:15.5rem;

 }


 #photo2 img {

    width: 100%;
    height:12.5rem;
    border-radius:10px 10px 0 0;
    object-fit: cover;
    margin-bottom: 0.5rem;
 }


 #photo3  {

    grid-column: 3/5;
    grid-row: 4/8;
    background-color:white;
    box-shadow: 0 0 30px rgb(211, 209, 209);
    margin-top: 3.7rem;
    border-radius:10px;
    width: 90%;
    height:11.5rem;
 }



 #photo3 img {

    width: 100%;
    height:8.5rem;
    border-radius:10px 10px 0 0;
    object-fit: cover;
    margin-bottom: 0.5rem;
 }

 #photo4  {

    grid-column: 5/7;
    grid-row: 1/8;
    border-radius:10px;
    background-color:white;
    box-shadow: 0 0 16px rgb(194, 188, 188);

    margin:0 0rem 0 0rem;
    width: 90%;
    height:30rem;


 }

 #photo4  img{

    width: 100%;
    height:27rem;
    border-radius:10px 10px 0 0;
    object-fit: cover;
    margin-bottom: 0.5rem;
 }


 #photo5 {

    grid-column: 7/9;
    grid-row: 1/4;

    border-radius:10px;
    background-color:white;
    box-shadow: 0 0 16px rgb(194, 188, 188);
    margin:0 0 1.5rem 0rem;
    width: 100%;
    height:13rem;
   
    



 }

 #photo5 img {

    width: 100%;
    height:10rem;
    border-radius:10px 10px 0 0;
    object-fit: cover;
    margin-bottom: 0.5rem;

 }


 #photo6   {

    grid-column: 7/9;
    grid-row: 4/7;

    border-radius:10px;
    background-color:white;
    box-shadow: 0 0 16px rgb(194, 188, 188);

    width: 100%;
    height:13.4rem;
    margin: 1.5rem 0rem 0 0rem;


 }

 #photo6 img {



    width: 100%;
    height:10.4rem;
    border-radius:10px 10px 0 0;
    object-fit: cover;
    margin-bottom: 0.5rem;

 }


@media screen and (max-width:1620px) and (min-width:1430px){


    /* #photo 1 {

        width: 15rem;
        height: 25rem;

    }
 
    #photo1 img {

        width: 15rem;
        height: 25rem;
       
    
     } */
     html {

        font-size: 14px;

     }

     #desktop li {


        margin-right: 2rem;


     }

    
}

@media screen and (max-width:1430px) and (min-width:991px) {


    html {

        font-size: 12px;

     }

     #desktop li {


        margin-right: 2rem;


     }

}


@media screen and (max-width:1210px) and (min-width:991px) {


    html {

        font-size: 10px;

     }

     #desktop li {


        margin-right: 2rem;


     }

}







 @media screen and (max-width:991px) {

    #activités{ 

        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right:0px;
        width: 100%;
        

    }

    #activités div {

        width: 100%;
        height: 13rem;
        margin-top:2rem;
        margin-bottom: 0rem;
       


    }


    #activités img {

        width: 100%;
        height: 10rem;


    }


 }





 @media screen and (max-width:768px) {



    h2 {

        margin-left: 0%;
        margin-right:0%;
    
    
    
    }

    #activités{ 

        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right:0px;
        width:100%;
       

    }

    #activités div {

        width: 100%;
        height: 13rem;
        margin-top:2rem;
        margin-bottom: 0rem;
       


    }


    #activités img {

        width: 100%;
        height: 10rem;


    }



   


 }



/* footer*/

footer{



    background-color:#F2F2F2;
    margin-top:3rem;
    margin-left: 0;
    margin-right:0;
}

#pieddepage {

    display:flex;
    

    margin-right:15%;
    justify-content: space-around;

}

#pieddepage span {

    display:block;
    margin: 1rem;

}


.grasPiedDePage{

    font-weight: bold;


}

#pieddepage a{

    text-decoration: none;
    color:black;
}

#pieddepage a:hover{


text-decoration: underline;


}


@media screen and (max-width:768px) {

    #pieddepage{

        flex-direction:column;
        margin:1rem;



    }



}