body {

    font-family: 'Raleway', sans-serif;
    
    margin-top:0%;
    border:0;
    border: 1px solid black;
    display: inline-block;
   

}

/* Top */




.desktop{

    display:flex;
    border:0;
    margin-left: 10%;
    margin-right:10%;
    margin-top:0%;
    border: 1px solid black;
}

.logo{

    border:0;
    margin-top: 0rem;
}

nav{


    width: 100%;
    margin-top: 0rem;
    border:0;
}


ul{

    list-style: none;
    display:flex;
    justify-content: flex-end;
    margin-top: 0;


}

li {
    font-size: 1rem;
    width:10%;
    text-align:center;
    padding-top:10px;
    
}

.liens{

    text-decoration: none;
    color:black;

}





.barrehaute:hover {

    border-top: 3px solid#0065FC;
    color:#0065FC;
    cursor: pointer;

 }


 #inscription {

    text-decoration: none;
    color:#0065FC;
    font-size:bold;
    
 }


 .mobil {

    display: none;

 }



 

@media screen and (max-width:991px){


    .desktop{

       
        margin-left: 0%;
        margin-right:0%;
        margin-top:0%;
    }




    li {
        
        margin-right: 6rem;
        
    }



}



 @media screen and (max-width:768px) {



    body{

        max-width: auto;
        
    }

    .desktop {
    
       display: none;
    
    }
    
    ul {


        display:none;

    }


    .mobil{

    display: block;
    border:0;
    margin-top:0%;
  



    }

   .headerpart1 {
    
        display:flex;
        justify-content:space-between;
        margin: 1rem;
    
    
    }


    
    .headerpart1 span {


        margin-top:1.1rem;
        font-weight: bold;

    }
    

    .headerpart2 {
        display: flex;
        justify-content:space-evenly;
        padding: 0rem;
        margin-top: 0rem;
        
        
    }

       
    .headerpart2 a {
       
       
       
       
    }

    .liensmobil{

        text-decoration: none;
        color:black;
        
    
        
    }
    
    .bottombar{
        border-bottom: 3px solid#F2F2F2; 

    }

    
    .liensmobil:hover {
    
        border-bottom: 3px solid#0065FC;
        color:#0065FC;
        cursor: pointer;
    
     }


    


     



    }
    
    


/* Recherche */


.recherche{


    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5rem;
    margin-bottom:1.5rem;


}

.recherche h1{

    margin: 0;


 }

.recherche p{


   margin-top: 0.5rem;
   margin-bottom:0rem;

}



.recherche i{

    background-color:#F2F2F2;
    padding: 0.99rem;
    border-radius: 10px 0 0 10px;
    margin-right: 0;



}


 #BarreRecherche {

    padding: 0.9rem;
    align-items: right;
    border-left:0px;
    border-top: 2px #F2F2F2;
    border-bottom: 2px #F2F2F2;
    border-right: 0px;
    margin-top:0rem;

    font-size: 1rem;
    margin-left: 0rem;





}



.recherche button{

   background-color:#0065FC;
   color: white;
   align-items: left;
   left: 0;
   cursor: pointer;
   padding: 0.88rem;
   border-color: white;
   border:none;
   border-radius: 0 10px 10px 0;
   margin-left:0rem;
   font-size: 1rem;
   font-weight: bold;



}

.recherche button i{

    display:none;

}



.recherche button:focus{

    outline: none;

}



::placeholder {
    color:black;
    font-weight: bolder;
}


/*Ajustement Mobil et Tablette*/

@media screen and (max-width:991px) {



      .recherche{

        
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 1.5rem;
        margin-bottom:1.5rem;
       text-align: left;
        border: 1px solid black;
        
    
    }




    .recherche h1{

        font-size:1.5rem;
       
    
     }


#Barrerecherche0 {

    
    width: 100%;
    border: 3px solid black;
    



}

.recherche button span{

    display: none;

}


.recherche input {

    width:65%;



}



.recherche button i{

    display:block;
    color: white;
    font-size:1.3rem;
    background-color:#0065FC;
    padding: 0rem;
    margin: 0rem;

}





}


 /* Filtre */


 .filtre {

    display: flex;
    justify-content: flex-start;
    width:80%;

    margin-left: 10%;
    margin-right:10%;
    align-items:center;
    text-align:center;
    margin-bottom: 1.5rem;
    
    font-weight:bold;



 }

.filtre span {


    font-size:1.4rem;
    font-weight: bold;

}



 .btn1 i {


    display: inline;
    position: relative;
    width:48px;
    height: 48px;
    padding:1rem;
    border-radius: 29px;
    background: #DEEBFF;
    color: #0065FC;
    z-index: 3;
    left: 20%;

 }



 .btn1 button {


    background-color: white;
    cursor: pointer;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 4rem;
    padding-right:1rem;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1rem;

}




.btn2 i {


    display: inline;
    position: relative;
   
    padding:1rem;
    border-radius: 29px;
    background: #DEEBFF;
    color: #0065FC;
    z-index: 3;
    left: 21%;

 }



 .btn2 button {


    background-color: white;
    cursor: pointer;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 3.5rem;
    padding-right:1rem;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1rem;

}

.btn3 i {


    display: inline;
    position: relative;
    
    padding:1rem;
    border-radius: 29px;
    background: #DEEBFF;
    color: #0065FC;
    z-index: 3;
    left: 20%;

 }



 .btn3 button {


    background-color: white;
    cursor: pointer;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 4rem;
    padding-right:1rem;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1rem;

}


.btn4 i {


    display: inline;
    position: relative;
    width:48px;
    height: 48px;
    padding:1rem;
    border-radius: 29px;
    background: #DEEBFF;
    color: #0065FC;
    z-index: 3;
    left: 18%;

 }



 .btn4 button {


    background-color: white;
    cursor: pointer;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 4rem;
    padding-right:1rem;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1rem;

}

.filtre button:hover {


    
    
    color: black;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    background-color:rgb(222, 235, 255,0.3);
;
}

.filtre button:focus {

    outline:none;



}


.filtre a {

    text-decoration:none;
    
}




@media screen and (max-width:991px) {

    .filtre {
        align-items: left;
        text-align:center;
        flex-direction: row;
        justify-content:flex-start;
        flex-wrap: wrap;
        width:100%;
        margin-left: 0px;
        margin-right:0px;
        margin-bottom: 1.5rem;
        border: 1px solid black;
 }


    .filtre div {

        
        padding: 0rem;
        border: 1px solid black;
        
    }






}




@media screen and (max-width:768px) {

    .filtre {
        align-items: left;
        text-align:center;
        flex-direction: row;
        justify-content:flex-start;
        flex-wrap: wrap;
        width:100%;
        margin-left: 0px;
        margin-right:0px;
        margin-bottom: 1.5rem;
        border: 1px solid black;
 }


    .filtre div {

        
        padding: 0rem;
        border: 1px solid black;
        
    }

    


  



}




/* infos */


 #infos{

    display: flex;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 1rem;;


 }



#iconinfos {

  
    

}


#infos i{

    
    position: relative;
    top: -0.4rem;
    
    text-align: center;
    color:#0065FC;
    align-items: center;
    text-align: center;
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid#F2F2F2;
    
    
    margin-right: 0.5rem;
}



#infos p{

  margin: 3rem;



}


/* Ajustement Mobil et Tablette */


@media screen and (max-width:991px){

    #infos{

       
        margin-left: 0px;
        margin-right:0px;
        
    
    
     }
    



}




/* Hebergements à Marseille*/


 #hebergements {
    margin-left: 10%;
    margin-right:10%;
    margin-bottom: 3.2rem;
    


 }


#encadre{

    width:65%;
    background-color:#F2F2F2;
    
    border-radius:20px;
    margin:0;
    border: 2px solid black;



}


#encadre h1 {
   
}

#titrehebergementdispo{

    margin-top:0.5rem;
    margin-left: 0rem;
    font-size: 1.2rem;
    border: 2px solid black;



}



#hebergements2 {


    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    border: 2px solid black;




 }

   article {
    background-color:white;
    text-decoration: none;
    border-radius: 20px;
    margin: 0.7rem;
    box-shadow: 0 0 16px rgb(194, 188, 188);
    


 }

 article:hover{

    transform: scale(1.02,1.02);



 }



 article a {

    text-decoration: none;
    color: black;


 }

 .ResultatHebergement {

    display:flex;
    flex-direction: column;
    margin:0.5rem;
    border-radius: 20px;


 }




 .ResultatHebergement :nth-child(2){


        font-weight: bold;


 }

.ResultatHebergement img{

    width:17rem;
    height:7rem;
   
    border-radius:10px 10px 0 0;
    object-fit: cover;


}

#hebergements {

    display: flex;



}

#hebergements a {

    text-decoration: none;
    color: black;

}




.star .fas{

   color: #0065FC;



}

#afficherplus {

      
    margin-left: 2rem; 
    font-size:1.1rem;
    font-weight: bold;

    }




/* Les plus populaires */


#populairetitre{

    display: flex;
    text-align: center;
    align-items: center;
    border: 1px solid black;

}


#populairetitre i{

    font-size: 1.4rem;
    margin-left: 8.5rem;
    margin-top: 1.5rem;
   
}



#encadre2{

    width:30%;
    background-color:#F2F2F2;
    padding: 0rem;
    border-radius:20px;
    margin-left:4rem;
    margin-top: 0;
    border: 2px solid black;
    

}


#encadre2 h1 {

    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
    font-size:1.5rem;
}


#encadre2 article img {

    width:8rem;
    height:8rem;
    border-radius:10px 0 0 10px;;
    object-fit: cover;
    padding:0;
    margin:0.5rem;

}

#encadre2 article {

    margin:1.5rem;
    padding: 0;
    box-shadow: 0 0 16px rgb(194, 188, 188);
    

}

.ResultatHebergementPop{

    display:flex;


}






.ResultatHebergementPop :nth-child(1) {

    font-weight: bold;

}

.ResultatHebergementPop :nth-child(2) {

    margin-top:0.5rem;

}




@media screen and (max-width:991px) {

    #hebergements {

        display:flex;
        flex-direction:column-reverse;
        margin-left: 0%;
        margin-right:0%;
        
    
    
    
    }


    #encadre2{

        width:100%;
        background-color:#F2F2F2;
        padding: 0rem;
        border-radius:0px;
        margin-left:0rem;
       
        margin-top: 0;
      }
    
      #encadre{
    
        width:100%;
        background-color:white;
        
        border-radius:20px;
        margin:0;
        align-items: left;
    
    }






}

@media screen and (max-width:768px) {


#hebergements {

    display:flex;
    flex-direction:column-reverse;
    margin-left: 0%;
    margin-right:0%;
    



}

#titrehebergementdispo{

    margin-top:0.5rem;
    
    font-size: 1.2rem;
    border: 2px solid black;



}




 #encadre2{

    width:100%;
    background-color:#F2F2F2;
    padding: 0rem;
    border-radius:0px;
    margin-left:0rem;
   
    margin-top: 0;
  }

  #encadre{

    width:100%;
    background-color:white;
    
    border-radius:20px;
    margin:0;
    align-items: left;

}



.espaceoff{

    display:none;


}


#populairetitre h1 {

    align-items:left;
    text-align: left;
    margin-left: 0rem;
    padding-left:0rem;
    border: 2px solid black;
}


#populairetitre i{


    font-size: 1.4rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
}

 #encadre article {

    background-color:white;
    text-decoration: none;
    border-radius: 20px;
    
    box-shadow: 0 0 16px rgb(194, 188, 188);
    width: 100%;



 }

 .ResultatHebergement img{

    width:17rem;
    height:7rem;
   width:100%;
    border-radius:10px 10px 0 0;
    object-fit: cover;


}

#encadre2 article {

    margin:1.5rem;
    padding: 0;
    box-shadow: 0 0 16px rgb(194, 188, 188);
   

}

#encadre2 article img {

    width:8rem;
    height:8rem;
    border-radius:10px 0 0 10px;;
    object-fit: cover;
    padding:0;
    margin:0.5rem;
    

}

}





/* Activités à Marseille */

h2 {

    margin-left: 10%;
    margin-right:10%;



}

#activités{

    margin-left: 10%;
    margin-right:10%;
    width:80%;


    border-radius:20px;
    display: grid;
    grid-template-columns: 8;
    grid-template-rows: 7;
   
    justify-content: space-between;
    border: 1px solid black;







}

#activités p {

    font-weight: bold;
    
    margin-left: 1rem;;


}

#activités a {

    text-decoration: none;
    color: black;

}


#photo1:hover, #photo2:hover, #photo3:hover, #photo4:hover, #photo5:hover, #photo6:hover{

    transform: scale(1.01,1.01);


}


#photo1 {


   grid-column: 1/3;
   grid-row: 1/8;
   border-radius:20px;
   background-color:white;
   box-shadow: 0 0 16px rgb(194, 188, 188);
   margin-right:0rem;
   margin-bottom: 0rem;
   padding-bottom: 0rem;
   width: 20rem;
   height:30rem;
}


#photo1 img {

    width: 20rem;
    height:27rem;
    border-radius:10px 10px 0 0;
    object-fit:cover;


}






#photo2   {

    grid-column: 3/5;
    grid-row: 1/5;
    background-color:white;
    box-shadow: 0 0 16px rgb(211, 209, 209);
    
    border-radius:10px;
    width: 20rem;
    height:15.5rem;

 }


 #photo2 img {

    width: 20rem;
    height:12.5rem;
    border-radius:10px 10px 0 0;
    object-fit: cover;

 }


 #photo3  {

    grid-column: 3/5;
    grid-row: 4/8;
    background-color:white;
    box-shadow: 0 0 30px rgb(211, 209, 209);
    margin-top: 3.7rem;
    border-radius:10px;
    width: 20rem;
    height:11.5rem;
 }



 #photo3 img {

    width: 20rem;
    height:8.5rem;
    border-radius:10px 10px 0 0;
    object-fit: cover;

 }

 #photo4  {

    grid-column: 5/7;
    grid-row: 1/8;
    border-radius:10px;
    background-color:white;
    box-shadow: 0 0 16px rgb(194, 188, 188);

    margin:0 0rem 0 0rem;
    width: 20rem;
    height:30rem;


 }

 #photo4  img{

    width: 20rem;
    height:27rem;
    border-radius:10px 10px 0 0;
    object-fit: cover;
   
 }


 #photo5 {

    grid-column: 7/8;
    grid-row: 1/4;

    border-radius:10px;
    background-color:white;
    box-shadow: 0 0 16px rgb(194, 188, 188);
    margin:0 0 1.5rem 0rem;
    width: 20rem;
    height:13rem;
   
    



 }

 #photo5 img {

    width: 20rem;
    height:10rem;
    border-radius:10px 10px 0 0;
    object-fit: cover;
    

 }


 #photo6   {

    grid-column: 7/8;
    grid-row: 4/8;

    border-radius:10px;
    background-color:white;
    box-shadow: 0 0 16px rgb(194, 188, 188);

    width: 20rem;
    height:13.4rem;
    margin: 1.5rem 0rem 0 0rem;


 }

 #photo6 img {



    width: 20rem;
    height:10.4rem;
    border-radius:10px 10px 0 0;
    object-fit: cover;


 }



 @media screen and (max-width:991px) {

    #activités{ 

        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right:0px;
        width: 100%;
        border: 1px solid black;

    }

    #activités div {

        width: 100%;
        height: 13rem;
        margin-top:2rem;
        margin-bottom: 0rem;
       


    }


    #activités img {

        width: 100%;
        height: 10rem;


    }


 }





 @media screen and (max-width:768px) {



    h2 {

        margin-left: 0%;
        margin-right:0%;
    
    
    
    }

    #activités{ 

        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-right:0px;
        width:100%;
        border: 1px solid black;

    }

    #activités div {

        width: 100%;
        height: 13rem;
        margin-top:2rem;
        margin-bottom: 0rem;
       


    }


    #activités img {

        width: 100%;
        height: 10rem;


    }



   


 }



/* footer*/

footer{



    background-color:#F2F2F2;
    margin-top:3rem;
    margin-left: 0;
    margin-right:0;
}

#pieddepage {

    display:flex;
    

    margin-right:15%;
    justify-content: space-around;

}

#pieddepage a{

    text-decoration: none;
    color:black;
}

#pieddepage a:hover{


text-decoration: underline;


}


@media screen and (max-width:768px) {

    #pieddepage{

        flex-direction:column;
        margin:1rem;



    }



}